#[[##]]# ${funcInfo.functionName}

$funcInfo.docString

#[[###]]# Usage

```
${funcInfo.functionName}(#foreach( $param in $funcInfo.getParameterList() )$param.name#if( $foreach.hasNext ), #end#end)
```

#if (!$funcInfo.getParameterList().isEmpty())
#foreach ($param in $funcInfo.getParameterList())

#[[####]]# `${param.name}`
      
#if (!$param.docString.isEmpty())
${param.docString.trim()}
#end

#if(!$param.getDefaultValue().isEmpty())
Defaults to `$param.getDefaultValue()`
#end

#end

#end