#[[##]]# ${providerName}

<pre>
${util.providerSummary($providerName, $providerInfo)}
</pre>

${providerInfo.docString}

**FIELDS**

#if (!$providerInfo.fieldInfoList.isEmpty())
<table class="table table-params">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
      #foreach ($field in $providerInfo.fieldInfoList)
      <tr id="${providerName}-${field.name}">
        <td>${field.name}</td>
        <td>
          #if(!$field.docString.isEmpty()) $field.docString.trim() #else - #end
        </td>
      </tr>
      #end
  </tbody>
</table>
#end
