#[[##]]# ${ruleName}

$ruleInfo.docString

<pre>
${util.ruleSummary($ruleName, $ruleInfo)}
</pre>

**ATTRIBUTES**

#if (!$ruleInfo.getAttributeList().isEmpty())
<table class="table table-params">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Mandatory</th>
    <th>Default</th>
  </tr>
  </thead>
  <tbody>
      #foreach ($attribute in $ruleInfo.getAttributeList())
      <tr id="${ruleName}-${attribute.name}">
        <td>${attribute.name}</td>
        <td>
            #if (!$attribute.docString.isEmpty())
                ${attribute.docString.trim()}
            #end
            #if (!$attribute.getProviderNameGroupList().isEmpty())
              The dependencies of this attribute must provide: ${util.attributeProviders($attribute)}
            #end
        </td>
        <td>${util.attributeTypeString($attribute)}</td>
        <td>${util.mandatoryString($attribute)}</td>
        <td>
            $attribute.defaultValue
        </td>
      </tr>
      #end
  </tbody>
</table>
#end
