# AUTO GENERATED edits will be lost
# To update, run:
#    yarn update-codeowners

* @mattem @gregmagolan @alexeagle
/packages/rollup/** @jbedard @alexeagle @gregmagolan @mattem
/packages/esbuild/** @mattem @alexeagle @gregmagolan
/packages/cypress/** @mrmeku @alexeagle @gregmagolan @mattem
/examples/jest/** @mrmeku @alexeagle @gregmagolan @mattem
/examples/nestjs/** @zachgrayio @zMotivat0r @rayman1104 @siberex @alexeagle @gregmagolan @mattem
/examples/esbuild/** @mattem @alexeagle @gregmagolan
/examples/cypress/** @mrmeku @alexeagle @gregmagolan @mattem
/examples/angular/** @alan-agius4 @jbedard @alexeagle @gregmagolan @mattem
/examples/angular_bazel_architect/** @alan-agius4 @jbedard @alexeagle @gregmagolan @mattem
