# AUTO GENERATED edits will be lost
# To update, run:
#    yarn update-codeowners

* @mattem @gregmagolan @soldair @alexeagle
/packages/labs/** @mrmeku @alexeagle @mattem
/packages/rollup/** @jbedard @alexeagle @mattem
/packages/angular/** @alan-agius4 @alexeagle @mattem
/examples/nestjs/** @zachgrayio @zMotivat0r @rayman1104 @siberex @alexeagle @mattem
/examples/protocol_buffers/** @mrmeku @alexeagle @mattem
/examples/angular_bazel_architect/** @alan-agius4 @alexeagle @mattem
