# Print test logs for failed tests
test --test_output=errors

# Enable debugging tests with --config=debug
test:debug --test_arg=--node_options=--inspect-brk --test_output=streamed --test_strategy=exclusive --test_timeout=9999 --nocache_test_results

# Turn off legacy external runfiles
run --nolegacy_external_runfiles
test --nolegacy_external_runfiles

# Needed for refresh roots experimental bazel build as bazel_skylib fails on this
build --incompatible_bzl_disallow_load_after_statement=false
test --incompatible_bzl_disallow_load_after_statement=false
