import %workspace%/tools/preset.bazelrc

common --config=ruleset

# In the root MODULE.bazel file we don't set include_headers on the nodejs toolchain
# so the `//nodejs/headers:current_node_cc_headers`` target will not build. This target
# is instead tested in `e2e/headers``
common --deleted_packages=nodejs/headers
