.bazelrc.user
.idea
rules_nodejs-*.tar.gz
dist
bazel-out
/e2e/*/bazel-*
/packages/*/bazel-*
node_modules
yarn-error.log
.DS_Store

# Disable lockfile for now. It is unstable.
# https://github.com/bazelbuild/bazel/issues/19026
# https://github.com/bazelbuild/bazel/issues/19621
# https://github.com/bazelbuild/bazel/issues/19971
# https://github.com/bazelbuild/bazel/issues/20272
# https://github.com/bazelbuild/bazel/issues/20369
MODULE.bazel.lock