docs/Built-ins.md linguist-generated=true
docs/Jasmine.md linguist-generated=true
docs/Providers.md linguist-generated=true
docs/Rollup.md linguist-generated=true
docs/TypeScript.md linguist-generated=true
