# These options are enabled when running on CI
# We do this by copying this file to /etc/bazel.bazelrc at the start of the build.

# Don't be spammy in the logs
build --noshow_progress

# Keep going on failures so that we see all failures no CI and not just the first
# and so that we see everything that passes as well
build --keep_going

# Print all the options that apply to the build.
# This helps us diagnose which options override others
# (e.g. /etc/bazel.bazelrc vs. tools/bazel.rc)
build --announce_rc

# Workaround https://github.com/bazelbuild/bazel/issues/3645
# Bazel doesn't calculate the memory ceiling correctly when running under Docker.
# Limit Bazel to consuming resources that fit in CircleCI "xlarge" class
# https://circleci.com/docs/2.0/configuration-reference/#resource_class
build --local_ram_resources=14336
build --local_cpu_resources=8

# Our integration tests rely on accessing public registries which can fail
# Let's give all failing tests a second try to mostly paper over flakiness
test --flaky_test_attempts=2

# Expose the SSH_AUTH_SOCK variable to integration tests that need to run git_repository repository rules
# This is needed by the CircleCI git-over-ssh environment
test --test_env=SSH_AUTH_SOCK
