## IMPORTANT
# If you change the `docker_image` version, also change the `cache_key` version
var_1: &docker_image angular/ngcontainer:0.0.8
var_2: &cache_key angular/ngcontainer:0.0.8-{{ .Branch }}-examples/rollup:{{ checksum "examples/rollup/yarn.lock" }}-examples/program:{{ checksum "examples/program/yarn.lock" }}-internal/test:{{ checksum "internal/test/yarn.lock" }}

version: 2
jobs:
  build:
    working_directory: ~/ng
    docker:
      - image: *docker_image
    steps:
      - checkout

      - restore_cache:
          key: *cache_key
      - run: bazel info release

      - run: bazel run @yarn//:yarn
      - run: bazel build --config=ci ...
      - run: bazel test --config=ci ...
      # TODO(alexeagle): move this into the example proper
      - run: bazel run examples/rollup -- --help

      # We should also be able to test targets in a different workspace
      - run: bazel test --config=ci @program_example//...
      - run: cd examples/packages && bazel test --config=ci ...

      - save_cache:
          key: *cache_key
          paths:
            - "examples/rollup/node_modules"
            - "examples/program/node_modules"
            - "internal/test/node_modules"
