<nav>
  <mat-toolbar>
    <a href="https://bazel.build" class="mat-button">
      <img class="nav-logo" src="/images/bazel-navbar.svg">
    </a>
    <a routerLink="/" class="mat-button hide-small">Home</a>
    <!-- <a routerLink="/todos" class="mat-button hide-small">Todos</a> -->
    <span class="flex-spacer"></span>
    <a href="https://github.com/angular/angular-bazel-example" class="mat-button">
      <img class="nav-logo" src="/images/github-circle-white-transparent.svg">
    </a>
  </mat-toolbar>

	<mat-toolbar class="show-small mobile-nav">
    <a routerLink="/" class="mat-button">Home</a>
    <!-- <a routerLink="/todos" class="mat-button">Todos</a> -->
	</mat-toolbar>
</nav>

<div class="content">
  <hello-world></hello-world>
</div>
