body { background-color: #fafafa; }

img.responsive { max-width: 100%; height: auto; border: 1px solid #f5f5f5; }

a { text-decoration: none; }

pre, code { font-family: 'Liberation Mono', Consolas, Monaco, 'Andale Mono', monospace; }

pre, pre.term { background-color: #fff; padding: 20px; overflow-x: auto; word-wrap: normal; border: 1px solid #f5f5f5; }
pre code, pre.term code { overflow-wrap: normal; white-space: pre; }

pre.term { background-color: #424242; color: #fff; font-size: 90%; }
pre.term span.info { color: #81C784; }

code { display: inline-block; font-size: 90%; white-space: pre-wrap; }

.mdl-layout__content { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-flow: column; flex-direction: column; }

.mdl-layout__content > *:not(.mdl-layout-spacer) { -webkit-flex: none; -ms-flex: none; flex: none; }

footer #scroll-to-top { color: #fff; }

.hero { background-color: #4caf50; color: #fff; padding-top: 40px; padding-bottom: 20px; }
.hero .mdl-cell { text-align: center; }
.hero h1 { font-size: 32px; font-weight: 300; }
.hero p.lead { font-size: 18px; font-weight: 300; }
.hero .mdl-button { margin-top: 10px; background-color: #fafafa; }

.feature .mdl-grid { max-width: 1230px; }
.feature .mdl-cell { padding: 10px; }
.feature h1 { font-size: 28px; font-weight: 300; }

.mdl-layout__drawer { background-color: #fff; }
.mdl-layout__drawer .mdl-layout-title { border-bottom: 1px solid #e0e0e0; padding-left: 24px; }
.mdl-layout__drawer .mdl-layout-title a { text-decoration: none; color: #757575; font-weight: normal; }

.drawer-nav ul { list-style: none; padding-left: 0; }
.drawer-nav ul li { display: block; padding: 0; }
.drawer-nav ul li ul li a { padding-left: 44px; font-weight: 400; }
.drawer-nav ul li span.drawer-nav-title { display: block; flex-shrink: 0; padding: 15px 0 15px 22px; margin: 0; font-weight: 600; color: #757575; line-height: 1em; text-decoration: none; }
.drawer-nav ul li a { display: block; flex-shrink: 0; padding: 15px 0 15px 22px; margin: 0; font-weight: 600; color: #757575; line-height: 1em; text-decoration: none; cursor: pointer; }
.drawer-nav ul li a:active, .drawer-nav ul li a:hover { background-color: #f0f0f0; }
.drawer-nav ul li.active a { color: #4caf50; font-weight: 500; }

.highlight .hll { background-color: #e0e0e0; }

.highlight { background: #eee; color: #212121; }

.highlight .c { color: #757575; }

.highlight .err { color: #f44336; }

.highlight .k { color: #9c27b0; }

.highlight .l { color: #ff9800; }

.highlight .n { color: #212121; }

.highlight .o { color: #009688; }

.highlight .p { color: #212121; }

.highlight .cm { color: #757575; }

.highlight .cp { color: #757575; }

.highlight .c1 { color: #757575; }

.highlight .cs { color: #757575; }

.highlight .gd { color: #f44336; }

.highlight .ge { font-style: italic; }

.highlight .gh { color: #212121; font-weight: bold; }

.highlight .gi { color: #4caf50; }

.highlight .gp { color: #757575; font-weight: bold; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #009688; font-weight: bold; }

.highlight .kc { color: #9c27b0; }

.highlight .kd { color: #9c27b0; }

.highlight .kn { color: #009688; }

.highlight .kp { color: #9c27b0; }

.highlight .kr { color: #9c27b0; }

.highlight .kt { color: #ffc107; }

.highlight .ld { color: #4caf50; }

.highlight .m { color: #ff9800; }

.highlight .s { color: #4caf50; }

.highlight .na { color: #2196f3; }

.highlight .nb { color: #212121; }

.highlight .nc { color: #ffc107; }

.highlight .no { color: #f44336; }

.highlight .nd { color: #009688; }

.highlight .ni { color: #212121; }

.highlight .ne { color: #f44336; }

.highlight .nf { color: #2196f3; }

.highlight .nl { color: #212121; }

.highlight .nn { color: #ffc107; }

.highlight .nx { color: #2196f3; }

.highlight .py { color: #212121; }

.highlight .nt { color: #009688; }

.highlight .nv { color: #f44336; }

.highlight .ow { color: #009688; }

.highlight .w { color: #212121; }

.highlight .mf { color: #ff9800; }

.highlight .mh { color: #ff9800; }

.highlight .mi { color: #ff9800; }

.highlight .mo { color: #ff9800; }

.highlight .sb { color: #4caf50; }

.highlight .sc { color: #212121; }

.highlight .sd { color: #757575; }

.highlight .s2 { color: #4caf50; }

.highlight .se { color: #ff9800; }

.highlight .sh { color: #4caf50; }

.highlight .si { color: #ff9800; }

.highlight .sx { color: #4caf50; }

.highlight .sr { color: #4caf50; }

.highlight .s1 { color: #4caf50; }

.highlight .ss { color: #4caf50; }

.highlight .bp { color: #212121; }

.highlight .vc { color: #f44336; }

.highlight .vg { color: #f44336; }

.highlight .vi { color: #f44336; }

.highlight .il { color: #ff9800; }
