test --test_output=errors
build --symlink_prefix=/

build:ci --noshow_progress

# Mock versoning command to test the --stamp behavior
build --workspace_status_command="tools/wsc.sh"

# Workaround https://github.com/bazelbuild/bazel/issues/3645
# Limit Bazel to consuming 3072K of RAM
build:ci --local_resources=3072,2.0,1.0
