name: CI

# Controls when the action will run.
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  e2e-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        bazel:
          - 9.*
        folder:
          - e2e/headers
          - e2e/smoke
          - e2e/nodejs_host
          - e2e/conflicting_toolchains
    steps:
      - uses: actions/checkout@v5
      - uses: bazel-contrib/setup-bazel@0.18.0
      - run: bazel test ...
        env:
          USE_BAZEL_VERSION: ${{ matrix.bazel }}
        working-directory: ${{ matrix.folder }}
